In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split

In [19]:
deliveries = pd.read_csv("deliveries.csv")

In [20]:
matches = pd.read_csv('matches.csv')

In [5]:
deliveries.head()

,MATCH_ID,INNING,BATTING_TEAM,BOWLING_TEAM,OVER,BALL,BATSMAN,BOWLER,WIDE_RUNS,BYE_RUNS,LEGBYE_RUNS,NOBALL_RUNS,PENALTY_RUNS,BATSMAN_RUNS,EXTRA_RUNS,TOTAL_RUNS
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,TS Mills,0,0,0,0,0,0,0,0
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,TS Mills,0,0,0,0,0,0,0,0
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,TS Mills,0,0,0,0,0,4,0,4
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,TS Mills,0,0,0,0,0,0,0,0
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,TS Mills,2,0,0,0,0,0,2,2

In [6]:
matches.head()

,MATCH_ID,SEASON,CITY,DATE,TEAM1,TEAM2,TOSS_WINNER,TOSS_DECISION,RESULT,WINNER
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,Sunrisers Hyderabad
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,Rising Pune Supergiant
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,Kolkata Knight Riders
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,Kings XI Punjab
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,Royal Challengers Bangalore

In [7]:
Col = matches[['SEASON','TOSS_WINNER','TOSS_DECISION']]

In [8]:
Col.head()

   SEASON                  TOSS_WINNER TOSS_DECISION
0    2017  Royal Challengers Bangalore         field
1    2017       Rising Pune Supergiant         field
2    2017        Kolkata Knight Riders         field
3    2017              Kings XI Punjab         field
4    2017  Royal Challengers Bangalore           bat

In [9]:
Col["is_duplicate"]= Col.duplicated()

C:\Users\GAURAV-PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
Col.head(100)

    SEASON                  TOSS_WINNER TOSS_DECISION  is_duplicate
0     2017  Royal Challengers Bangalore         field         False
1     2017       Rising Pune Supergiant         field         False
2     2017        Kolkata Knight Riders         field         False
3     2017              Kings XI Punjab         field         False
4     2017  Royal Challengers Bangalore           bat         False
5     2017          Sunrisers Hyderabad         field         False
6     2017               Mumbai Indians         field         False
7     2017  Royal Challengers Bangalore           bat          True
8     2017       Rising Pune Supergiant         field          True
9     2017               Mumbai Indians         field          True
10    2017        Kolkata Knight Riders         field          True
11    2017               Mumbai Indians         field          True
12    2017                Gujarat Lions         field         False
13    2017          Sunrisers Hyderabad         field          True
14    2017             Delhi Daredevils           bat         False
15    2017               Mumbai Indians         field          True
16    2017  Royal Challengers Bangalore         field          True
17    2017             Delhi Daredevils           bat          True
18    2017              Kings XI Punjab         field          True
19    2017                Gujarat Lions         field          True
20    2017          Sunrisers Hyderabad           bat         False
21    2017               Mumbai Indians         field          True
22    2017                Gujarat Lions         field          True
23    2017             Delhi Daredevils         field         False
24    2017       Rising Pune Supergiant         field          True
25    2017                Gujarat Lions         field          True
26    2017  Royal Challengers Bangalore         field          True
27    2017               Mumbai Indians         field          True
28    2017        Kolkata Knight Riders         field          True
29    2017                Gujarat Lions         field          True
..     ...                          ...           ...           ...
70    2008        Kolkata Knight Riders           bat         False
71    2008              Deccan Chargers         field         False
72    2008             Delhi Daredevils           bat         False
73    2008          Chennai Super Kings           bat          True
74    2008        Kolkata Knight Riders           bat          True
75    2008  Royal Challengers Bangalore         field          True
76    2008              Kings XI Punjab         field         False
77    2008             Rajasthan Royals           bat          True
78    2008          Chennai Super Kings           bat          True
79    2008              Deccan Chargers           bat          True
80    2008              Kings XI Punjab           bat          True
81    2008             Delhi Daredevils         field         False
82    2008          Chennai Super Kings           bat          True
83    2008              Kings XI Punjab         field          True
84    2008              Deccan Chargers         field          True
85    2008               Mumbai Indians         field          True
86    2008          Chennai Super Kings         field         False
87    2008        Kolkata Knight Riders           bat          True
88    2008             Rajasthan Royals         field          True
89    2008               Mumbai Indians         field          True
90    2008              Kings XI Punjab         field          True
91    2008        Kolkata Knight Riders           bat          True
92    2008             Rajasthan Royals         field          True
93    2008  Royal Challengers Bangalore           bat         False
94    2008        Kolkata Knight Riders           bat          True
95    2008               Mumbai Indians         field          True
96    2008             Rajasthan Royals         field          True
97    2008              Deccan Chargers         field          True
98    2008               Mumbai Indians         field          True
99    2008             Delhi Daredevils           bat          True

[100 rows x 4 columns]

In [11]:
type(Col['SEASON'])

pandas.core.series.Series

In [12]:
Col.dtypes

SEASON            int64
TOSS_WINNER      object
TOSS_DECISION    object
is_duplicate       bool
dtype: object

In [15]:
Col2=Col[Col['TOSS_DECISION'] == 'bat'] 
Col=Col.drop(Col2.index,axis=0)

In [16]:
Col.head(100)

     SEASON                  TOSS_WINNER TOSS_DECISION  is_duplicate
0      2017  Royal Challengers Bangalore         field         False
1      2017       Rising Pune Supergiant         field         False
2      2017        Kolkata Knight Riders         field         False
3      2017              Kings XI Punjab         field         False
5      2017          Sunrisers Hyderabad         field         False
6      2017               Mumbai Indians         field         False
8      2017       Rising Pune Supergiant         field          True
9      2017               Mumbai Indians         field          True
10     2017        Kolkata Knight Riders         field          True
11     2017               Mumbai Indians         field          True
12     2017                Gujarat Lions         field         False
13     2017          Sunrisers Hyderabad         field          True
15     2017               Mumbai Indians         field          True
16     2017  Royal Challengers Bangalore         field          True
18     2017              Kings XI Punjab         field          True
19     2017                Gujarat Lions         field          True
21     2017               Mumbai Indians         field          True
22     2017                Gujarat Lions         field          True
23     2017             Delhi Daredevils         field         False
24     2017       Rising Pune Supergiant         field          True
25     2017                Gujarat Lions         field          True
26     2017  Royal Challengers Bangalore         field          True
27     2017               Mumbai Indians         field          True
28     2017        Kolkata Knight Riders         field          True
29     2017                Gujarat Lions         field          True
30     2017        Kolkata Knight Riders         field          True
31     2017              Kings XI Punjab         field          True
32     2017  Royal Challengers Bangalore         field          True
34     2017              Kings XI Punjab         field          True
35     2017        Kolkata Knight Riders         field          True
..      ...                          ...           ...           ...
101    2008              Deccan Chargers         field          True
103    2008             Delhi Daredevils         field          True
104    2008             Rajasthan Royals         field          True
105    2008               Mumbai Indians         field          True
107    2008              Kings XI Punjab         field          True
108    2008             Delhi Daredevils         field          True
110    2008              Deccan Chargers         field          True
112    2008             Rajasthan Royals         field          True
114    2008             Delhi Daredevils         field          True
116    2008             Rajasthan Royals         field          True
117    2009          Chennai Super Kings         field         False
119    2009             Delhi Daredevils         field         False
122    2009        Kolkata Knight Riders         field         False
125    2009        Kolkata Knight Riders         field          True
130    2009              Deccan Chargers         field         False
135    2009             Delhi Daredevils         field          True
136    2009             Rajasthan Royals         field         False
140    2009             Delhi Daredevils         field          True
144    2009              Kings XI Punjab         field         False
147    2009             Rajasthan Royals         field          True
150    2009              Kings XI Punjab         field          True
153    2009             Delhi Daredevils         field          True
155    2009  Royal Challengers Bangalore         field         False
157    2009              Deccan Chargers         field          True
160    2009              Kings XI Punjab         field          True
162    2009              Deccan Chargers         field          True
163    2009              Deccan Chargers         field          True
167    2009        Kolkata Knight Riders         field          True
169    2009             Delhi Daredevils         field          True
171    2009              Deccan Chargers         field          True

[100 rows x 4 columns]

In [17]:
Col2=Col[Col['SEASON'] < 2016] 
Col=Col.drop(Col2.index,axis=0)

In [18]:
Col.head(100)# Season only 2016 and 2017

     SEASON                  TOSS_WINNER TOSS_DECISION  is_duplicate
0      2017  Royal Challengers Bangalore         field         False
1      2017       Rising Pune Supergiant         field         False
2      2017        Kolkata Knight Riders         field         False
3      2017              Kings XI Punjab         field         False
5      2017          Sunrisers Hyderabad         field         False
6      2017               Mumbai Indians         field         False
8      2017       Rising Pune Supergiant         field          True
9      2017               Mumbai Indians         field          True
10     2017        Kolkata Knight Riders         field          True
11     2017               Mumbai Indians         field          True
12     2017                Gujarat Lions         field         False
13     2017          Sunrisers Hyderabad         field          True
15     2017               Mumbai Indians         field          True
16     2017  Royal Challengers Bangalore         field          True
18     2017              Kings XI Punjab         field          True
19     2017                Gujarat Lions         field          True
21     2017               Mumbai Indians         field          True
22     2017                Gujarat Lions         field          True
23     2017             Delhi Daredevils         field         False
24     2017       Rising Pune Supergiant         field          True
25     2017                Gujarat Lions         field          True
26     2017  Royal Challengers Bangalore         field          True
27     2017               Mumbai Indians         field          True
28     2017        Kolkata Knight Riders         field          True
29     2017                Gujarat Lions         field          True
30     2017        Kolkata Knight Riders         field          True
31     2017              Kings XI Punjab         field          True
32     2017  Royal Challengers Bangalore         field          True
34     2017              Kings XI Punjab         field          True
35     2017        Kolkata Knight Riders         field          True
..      ...                          ...           ...           ...
600    2016                Gujarat Lions         field          True
601    2016        Kolkata Knight Riders         field          True
602    2016  Royal Challengers Bangalore         field         False
603    2016                Gujarat Lions         field          True
604    2016               Mumbai Indians         field          True
605    2016        Kolkata Knight Riders         field          True
606    2016             Delhi Daredevils         field          True
607    2016              Kings XI Punjab         field          True
608    2016      Rising Pune Supergiants         field          True
609    2016          Sunrisers Hyderabad         field          True
610    2016  Royal Challengers Bangalore         field          True
611    2016             Delhi Daredevils         field          True
612    2016               Mumbai Indians         field          True
613    2016                Gujarat Lions         field          True
614    2016              Kings XI Punjab         field          True
616    2016               Mumbai Indians         field          True
617    2016             Delhi Daredevils         field          True
619    2016                Gujarat Lions         field          True
622    2016             Delhi Daredevils         field          True
623    2016  Royal Challengers Bangalore         field          True
624    2016      Rising Pune Supergiants         field          True
625    2016              Kings XI Punjab         field          True
626    2016                Gujarat Lions         field          True
627    2016             Delhi Daredevils         field          True
629    2016                Gujarat Lions         field          True
630    2016          Sunrisers Hyderabad         field          True
631    2016  Royal Challengers Bangalore         field          True
632    2016  Royal Challengers Bangalore         field          True
633    2016        Kolkata Knight Riders         field          True
634    2016          Sunrisers Hyderabad         field          True

[97 rows x 4 columns]

In [103]:
Col.dtypes

SEASON            int64
TOSS_WINNER      object
TOSS_DECISION    object
is_duplicate       bool
dtype: object

In [104]:
Col.describe()

            SEASON
count    97.000000
mean   2016.494845
std       0.502571
min    2016.000000
25%    2016.000000
50%    2016.000000
75%    2017.000000
max    2017.000000

In [106]:
#Col3=Col[Col['SEASON'] < 2016] 
Col.shape

(97, 4)

In [19]:
Col['TOSS_WINNER'].value_counts()

Mumbai Indians                 16
Kolkata Knight Riders          15
Gujarat Lions                  14
Delhi Daredevils               13
Sunrisers Hyderabad            11
Royal Challengers Bangalore    10
Kings XI Punjab                 8
Rising Pune Supergiant          6
Rising Pune Supergiants         4
Name: TOSS_WINNER, dtype: int64

In [21]:
#Col2=Col[(Col['TOSS_WINNER'] == 'Rising Pune Supergiant') & (Col['TOSS_WINNER'] == 'Royal Challengers Bangalore') ]
Col2=Col[(Col['TOSS_WINNER'] == 'Royal Challengers Bangalore')]
Col=Col.drop(Col2.index,axis=0)
Col2=Col[(Col['TOSS_WINNER'] == 'Rising Pune Supergiant')]
Col=Col.drop(Col2.index,axis=0)
Col2=Col[(Col['TOSS_WINNER'] == 'Rising Pune Supergiants')]
Col=Col.drop(Col2.index,axis=0)
Col2=Col[(Col['TOSS_WINNER'] == 'Kings XI Punjab')]
Col=Col.drop(Col2.index,axis=0)
Col2=Col[(Col['TOSS_WINNER'] == 'Sunrisers Hyderabad')]
Col=Col.drop(Col2.index,axis=0)

In [22]:
Col.head(100)

     SEASON            TOSS_WINNER TOSS_DECISION  is_duplicate
2      2017  Kolkata Knight Riders         field         False
6      2017         Mumbai Indians         field         False
9      2017         Mumbai Indians         field          True
10     2017  Kolkata Knight Riders         field          True
11     2017         Mumbai Indians         field          True
12     2017          Gujarat Lions         field         False
15     2017         Mumbai Indians         field          True
19     2017          Gujarat Lions         field          True
21     2017         Mumbai Indians         field          True
22     2017          Gujarat Lions         field          True
23     2017       Delhi Daredevils         field         False
25     2017          Gujarat Lions         field          True
27     2017         Mumbai Indians         field          True
28     2017  Kolkata Knight Riders         field          True
29     2017          Gujarat Lions         field          True
30     2017  Kolkata Knight Riders         field          True
35     2017  Kolkata Knight Riders         field          True
38     2017       Delhi Daredevils         field          True
40     2017       Delhi Daredevils         field          True
43     2017       Delhi Daredevils         field          True
44     2017  Kolkata Knight Riders         field          True
45     2017          Gujarat Lions         field          True
47     2017  Kolkata Knight Riders         field          True
48     2017       Delhi Daredevils         field          True
49     2017         Mumbai Indians         field          True
52     2017  Kolkata Knight Riders         field          True
55     2017         Mumbai Indians         field          True
56     2017  Kolkata Knight Riders         field          True
57     2017         Mumbai Indians         field          True
577    2016  Kolkata Knight Riders         field         False
578    2016          Gujarat Lions         field         False
580    2016         Mumbai Indians         field         False
582    2016       Delhi Daredevils         field         False
584    2016          Gujarat Lions         field          True
586    2016       Delhi Daredevils         field          True
588    2016  Kolkata Knight Riders         field          True
589    2016         Mumbai Indians         field          True
592    2016         Mumbai Indians         field          True
595    2016  Kolkata Knight Riders         field          True
598    2016       Delhi Daredevils         field          True
599    2016         Mumbai Indians         field          True
600    2016          Gujarat Lions         field          True
601    2016  Kolkata Knight Riders         field          True
603    2016          Gujarat Lions         field          True
604    2016         Mumbai Indians         field          True
605    2016  Kolkata Knight Riders         field          True
606    2016       Delhi Daredevils         field          True
611    2016       Delhi Daredevils         field          True
612    2016         Mumbai Indians         field          True
613    2016          Gujarat Lions         field          True
616    2016         Mumbai Indians         field          True
617    2016       Delhi Daredevils         field          True
619    2016          Gujarat Lions         field          True
622    2016       Delhi Daredevils         field          True
626    2016          Gujarat Lions         field          True
627    2016       Delhi Daredevils         field          True
629    2016          Gujarat Lions         field          True
633    2016  Kolkata Knight Riders         field          True

In [23]:
Col['TOSS_WINNER'].value_counts()

Mumbai Indians           16
Kolkata Knight Riders    15
Gujarat Lions            14
Delhi Daredevils         13
Name: TOSS_WINNER, dtype: int64

In [1]:
#2nd question - sol

In [33]:
que2 = deliveries[['MATCH_ID','BATTING_TEAM','BYE_RUNS','LEGBYE_RUNS','WIDE_RUNS','NOBALL_RUNS','PENALTY_RUNS','EXTRA_RUNS','BATSMAN_RUNS','TOTAL_RUNS']]

In [48]:
que2.head()

,MATCH_ID,BATTING_TEAM,BYE_RUNS,LEGBYE_RUNS,WIDE_RUNS,NOBALL_RUNS,PENALTY_RUNS,EXTRA_RUNS,BATSMAN_RUNS,TOTAL_RUNS
0,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0
1,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0
2,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4
3,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0
4,1,Sunrisers Hyderabad,0,0,2,0,0,2,0,2

In [49]:
que_i2 = matches[['MATCH_ID','SEASON']]

In [50]:
que_i2.head()

   MATCH_ID  SEASON
0         1    2017
1         2    2017
2         3    2017
3         4    2017
4         5    2017

In [51]:
df3=pd.merge(que2,que_i2,on="MATCH_ID")

In [52]:
df3.head(100)

,MATCH_ID,BATTING_TEAM,BYE_RUNS,LEGBYE_RUNS,WIDE_RUNS,NOBALL_RUNS,PENALTY_RUNS,EXTRA_RUNS,BATSMAN_RUNS,TOTAL_RUNS,SEASON
0,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
1,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
2,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
3,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
4,1,Sunrisers Hyderabad,0,0,2,0,0,2,0,2,2017
5,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
6,1,Sunrisers Hyderabad,0,1,0,0,0,1,0,1,2017
7,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
8,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
9,1,Sunrisers Hyderabad,0,0,0,1,0,1,0,1,2017
10,1,Sunrisers Hyderabad,0,0,0,0,0,0,6,6,2017
11,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
12,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
13,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
14,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
15,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
16,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
17,1,Sunrisers Hyderabad,0,0,0,0,0,0,3,3,2017
18,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
19,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
20,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
21,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
22,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
23,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
24,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
25,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
26,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
27,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
28,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
29,1,Sunrisers Hyderabad,0,0,0,0,0,0,2,2,2017
...,...,...,...,...,...,...,...,...,...,...,...
70,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
71,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
72,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
73,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
74,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
75,1,Sunrisers Hyderabad,0,0,0,0,0,0,6,6,2017
76,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
77,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
78,1,Sunrisers Hyderabad,0,0,1,0,0,1,0,1,2017
79,1,Sunrisers Hyderabad,0,0,0,0,0,0,2,2,2017
80,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
81,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
82,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
83,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
84,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
85,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
86,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
87,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
88,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
89,1,Sunrisers Hyderabad,0,0,0,0,0,0,6,6,2017
90,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
91,1,Sunrisers Hyderabad,0,0,0,0,0,0,6,6,2017
92,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
93,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
94,1,Sunrisers Hyderabad,0,0,0,0,0,0,0,0,2017
95,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
96,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
97,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
98,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017
99,1,Sunrisers Hyderabad,0,0,0,0,0,0,1,1,2017

In [53]:
df32=df3[df3['BATSMAN_RUNS'] < 4] 
df3=df3.drop(df32.index,axis=0)

In [54]:
df3.head(100)# displaying how many fours and six (4 & 6) a team has hitted(Batsman runs).

,MATCH_ID,BATTING_TEAM,BYE_RUNS,LEGBYE_RUNS,WIDE_RUNS,NOBALL_RUNS,PENALTY_RUNS,EXTRA_RUNS,BATSMAN_RUNS,TOTAL_RUNS,SEASON
2,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
8,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
10,1,Sunrisers Hyderabad,0,0,0,0,0,0,6,6,2017
13,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
30,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
32,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
33,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
35,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
36,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
47,1,Sunrisers Hyderabad,0,0,0,0,0,0,6,6,2017
63,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
72,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
74,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
75,1,Sunrisers Hyderabad,0,0,0,0,0,0,6,6,2017
76,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
81,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
87,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
89,1,Sunrisers Hyderabad,0,0,0,0,0,0,6,6,2017
91,1,Sunrisers Hyderabad,0,0,0,0,0,0,6,6,2017
101,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
105,1,Sunrisers Hyderabad,0,0,0,0,0,0,6,6,2017
109,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
114,1,Sunrisers Hyderabad,0,0,0,0,0,0,4,4,2017
115,1,Sunrisers Hyderabad,0,0,0,0,0,0,6,6,2017
121,1,Sunrisers Hyderabad,0,0,0,0,0,0,6,6,2017
124,1,Sunrisers Hyderabad,0,0,0,0,0,0,6,6,2017
129,1,Royal Challengers Bangalore,0,0,0,0,0,0,4,4,2017
130,1,Royal Challengers Bangalore,0,0,0,0,0,0,4,4,2017
138,1,Royal Challengers Bangalore,0,0,0,0,0,0,4,4,2017
140,1,Royal Challengers Bangalore,0,0,0,0,0,0,4,4,2017
...,...,...,...,...,...,...,...,...,...,...,...
368,2,Mumbai Indians,0,0,0,0,0,0,6,6,2017
369,2,Mumbai Indians,0,0,0,0,0,0,4,4,2017
370,2,Mumbai Indians,0,0,0,0,0,0,6,6,2017
374,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
380,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
381,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
384,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
388,2,Rising Pune Supergiant,0,0,0,0,0,0,6,6,2017
389,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
404,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
406,2,Rising Pune Supergiant,0,0,0,0,0,0,6,6,2017
407,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
418,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
423,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
429,2,Rising Pune Supergiant,0,0,0,0,0,0,6,6,2017
443,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
448,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
450,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
452,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
455,2,Rising Pune Supergiant,0,0,0,0,0,0,6,6,2017
459,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
466,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
477,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
483,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
488,2,Rising Pune Supergiant,0,0,0,0,0,0,4,4,2017
493,2,Rising Pune Supergiant,0,0,0,0,0,0,6,6,2017
494,2,Rising Pune Supergiant,0,0,0,0,0,0,6,6,2017
496,3,Gujarat Lions,0,0,0,0,0,0,4,4,2017
499,3,Gujarat Lions,0,0,0,0,0,0,4,4,2017
503,3,Gujarat Lions,0,0,0,0,0,0,4,4,2017

In [55]:
df3=df3.drop(['BYE_RUNS','LEGBYE_RUNS','WIDE_RUNS','NOBALL_RUNS','PENALTY_RUNS','EXTRA_RUNS'],axis=1)

In [56]:
df3.head()

    MATCH_ID         BATTING_TEAM  BATSMAN_RUNS  TOTAL_RUNS  SEASON
2          1  Sunrisers Hyderabad             4           4    2017
8          1  Sunrisers Hyderabad             4           4    2017
10         1  Sunrisers Hyderabad             6           6    2017
13         1  Sunrisers Hyderabad             4           4    2017
30         1  Sunrisers Hyderabad             4           4    2017

In [30]:
df3['BATTING_TEAM'].value_counts()

Mumbai Indians                 3029
Royal Challengers Bangalore    2917
Kings XI Punjab                2851
Delhi Daredevils               2660
Kolkata Knight Riders          2646
Chennai Super Kings            2514
Rajasthan Royals               2170
Sunrisers Hyderabad            1365
Deccan Chargers                1362
Pune Warriors                   723
Gujarat Lions                   616
Rising Pune Supergiant          286
Rising Pune Supergiants         239
Kochi Tuskers Kerala            223
Name: BATTING_TEAM, dtype: int64

In [31]:
#Only Total score is left in this task, need a confirmation total score need to be calculated based on all type of runs(wide, leg bye and all) or only taking score of (4's and 6's) will complete, kindly confirm once.

In [32]:
#3rd ques

In [57]:
que3 = deliveries[['MATCH_ID','BOWLER','WIDE_RUNS','NOBALL_RUNS','PENALTY_RUNS','EXTRA_RUNS','BATSMAN_RUNS','TOTAL_RUNS']]

In [58]:
df4=pd.merge(que3,que_i2,on="MATCH_ID")

In [59]:
df4.head()

,MATCH_ID,BOWLER,WIDE_RUNS,NOBALL_RUNS,PENALTY_RUNS,EXTRA_RUNS,BATSMAN_RUNS,TOTAL_RUNS,SEASON
0,1,TS Mills,0,0,0,0,0,0,2017
1,1,TS Mills,0,0,0,0,0,0,2017
2,1,TS Mills,0,0,0,0,4,4,2017
3,1,TS Mills,0,0,0,0,0,0,2017
4,1,TS Mills,2,0,0,2,0,2,2017

In [60]:
#4th ques

In [63]:
que4 = deliveries[['MATCH_ID','BATTING_TEAM','OVER','BALL','TOTAL_RUNS']]

In [66]:
que4.head()

   MATCH_ID         BATTING_TEAM  OVER  BALL  TOTAL_RUNS
0         1  Sunrisers Hyderabad     1     1           0
1         1  Sunrisers Hyderabad     1     2           0
2         1  Sunrisers Hyderabad     1     3           4
3         1  Sunrisers Hyderabad     1     4           0
4         1  Sunrisers Hyderabad     1     5           2